<app-app-header></app-app-header>

<main>
  <section class="plate">
    <h3>Translate</h3>
    <div class="plate__keeper">
      <div class="plate__mover" [ngClass]="{'plate__mover--translated': translated}">
        <img class="plate__image" src="assets/images/picture.jpg">
      </div>
    </div>
    <button class="btn btn--transform" (click)="startAnimation('translated')">Animate</button>
  </section>
  <section class="plate">
    <h3>Rotate</h3>
    <div class="plate__keeper">
      <div class="plate__mover" [ngClass]="{'plate__mover--rotated': rotated}">
        <img class="plate__image" src="assets/images/picture.jpg">
      </div>
    </div>
    <button class="btn btn--transform" (click)="startAnimation('rotated')">Animate</button>
  </section>
  <section class="plate">
    <h3>Scale</h3>
    <div class="plate__keeper">
      <div class="plate__mover plate__mover--origin" [ngClass]="{'plate__mover--scaled': scaled}">
        <img class="plate__image" src="assets/images/picture.jpg">
      </div>
    </div>
    <button class="btn btn--transform" (click)="startAnimation('scaled')">Animate</button>
  </section>
  <section class="plate">
    <h3>Skew</h3>
    <div class="plate__keeper">
      <div class="plate__mover" [ngClass]="{'plate__mover--skewed': skewed}">
        <img class="plate__image" src="assets/images/picture.jpg">
      </div>
    </div>
    <button class="btn btn--transform" (click)="startAnimation('skewed')">Animate</button>
  </section>
</main>
