.mouse-catcher-area {
  width: 100%;
  height: 400px;
  position: relative;

  .mouse-catcher {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s linear 0s;
    background-color: #3498db;
  }
}
