.title {
  text-align: center;
}
.subtitle {
  color: #A1A1A1;
  margin-left: 1024px;
  transition: margin-left 3s linear 0s;
  text-align: center;
  width: 100%;

  &.subtitle__animated {
    margin-left: 0;
  }
}

.navigation {
  display: flex;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  justify-content: center;

  .navigation__item {
    padding: 10px 20px;
    border-left: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;

    &:last-of-type {
      border-right: 1px solid #DEDEDE;
    }
  }
}
