<div class="scene-list">
  <div class="scene" *ngFor="let item of items">
    <div class="scene__back">
      <h2>Some details title</h2>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
    <div class="scene__front-wrap">
      <div class="scene__front-back">
        <img class="scene__image" src="assets/images/stock-photo.jpg" alt="">
<!--        <h2>Some title of extended description</h2>-->
<!--        <p>Lorem ipsum</p>-->
<!--        <p>Lorem ipsum</p>-->
<!--        <p>Lorem ipsum</p>-->
<!--        <p>Lorem ipsum</p>-->
      </div>
      <div class="scene__front">
        <h2>Some short description</h2>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>

</div>
